@import "@fontsource/playfair-display/400.css";
@import "@fontsource/playfair-display/500.css";
@import "@fontsource/playfair-display/600.css";
@import "@fontsource-variable/dm-sans";
@import "./core.css";
@import "./themes/discovery.css";
