/* Self-hosted fonts */
@import "@fontsource-variable/dm-sans";
@import "@fontsource/instrument-serif";
@import "@fontsource/instrument-serif/400-italic.css";

@import "./core.css";
@import "./themes/shop.css";
